
body {
	font-family: sans-serif;
	color: black;
}

/** HEADER **/
#header-nav {
  background-color: lightgrey;
  border-radius: 0;
  border: 0;
}

.navbar-header {
	width: 100%;
}

.navbar-brand {
  width: 100%;
}


.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #222;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content h2 {
	/*padding-top: 20px;*/
	/*padding-bottom: 20px;*/
}

#main-content h3 {
	padding-top: 20px;*/
	/*padding-bottom: 20px;*/
}

#main-content div {
	height: 1000px;
	background-color: grey;
	padding-left: 10px;
	padding-right: 10px;
}

/*#main-content div span {
	margin: 5px;
	padding: auto;
}*/

#collapsable-nav li a{
	color: black;
	background-color: white;
}
